
<section class="testimony" id="testimony">
    <div class="testimony__container container">
        <img src="../../../assets/img/leftarrow.svg" class="testimony__arrow" id="before">

        <section class="testimony__body testimony__body--show" data-id="1">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es Isabel Landete, <span class="testimony__course">estudiante
                        de Medicina.</span></h2>
                <p class="testimony__review">El reto me ha funcionado. Se lo recomiendo a todo el que quiera perder peso. La nutricionista es muy agradable y te ayuda en todo lo necesario. 
                    Los entrenadores te ayudan en todo, aconsejándote a la hora de realizar los ejercicios.</p>
            </div>

            <figure class="testimony__picture">
                <img src="../../../assets/img/face.jpg" class="testimony__img">
            </figure>
        </section>

        <section class="testimony__body" data-id="2">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es Alejandra Perez, <span class="testimony__course">estudiante de
                        Ingenieria Civil.</span></h2>
                <p class="testimony__review">Al principio inició sola su rutina de ejercicios, al mes siguiente tomo un entrenamiento personalizado con el instructor Camilo Galvis. 
                    Cuando ingresó al gimnasio tenía un peso de 90 kg, ahora está pesando 62 kg. Estos resultados los comenzó a ver a partir de la tercera semana de su entrenamiento junto con los tips de nutrición que ha recibido por parte del instructor.</p>
            </div>

            <figure class="testimony__picture">
                <img src="../../../assets/img/face2.jpg" class="testimony__img">
            </figure>
        </section>

        <section class="testimony__body" data-id="3">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es Germán Arteaga, <span class="testimony__course">estudiante de
                        Ingenieria en sistema.</span></h2>
                <p class="testimony__review">A raíz de mi vida sedentaria quise hace un cambio en mi cuerpo al no sentirme satisfecho con lo que veía. 
                    He encontrado el apoyo en orientación y en los equipos para poder lograr mejores resultados.</p>
            </div>

            <figure class="testimony__picture">
                <img src="../../../assets/img/face3.jpg" class="testimony__img">
            </figure>
        </section>

        <section class="testimony__body" data-id="4">
            <div class="testimony__texts">
                <h2 class="subtitle">Mi nombre es Kevin Ramirez, <span class="testimony__course">estudiante de
                        de la faculda Arquitectura.</span></h2>
                <p class="testimony__review">Mi objetivo inicial era aumentar masa muscular y conseguir un bajo porcentaje de grasa corporal, pero a veces el cansancio y la pereza evitan que haga ejercicio de manera correcta. 
                    Al entrenar con el entrenador Guillermo lo que me ayudó fue la manera en que estructura los ejercicios ya que ayudan a no fatigarme y aburrirme. También aprendí a entrenar de una mejor manera y a supervisar mejor lo que como. 
                    Logré conseguir una buena cantidad de músculo teniendo un bajo porcentaje de grasa y también mi fuerza incrementó bastante.</p>
            </div>

            <figure class="testimony__picture">
                <img src="../../../assets/img/face4.jpg" class="testimony__img">
            </figure>
        </section>


        <img src="../../../assets/img/rightarrow.svg" class="testimony__arrow" id="next">
    </div>
</section>