
<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<app-nav></app-nav>

<app-home></app-home>

<app-about></app-about>

<app-knowledge></app-knowledge>

<app-schedule></app-schedule>

<app-planes></app-planes>

<app-testimony></app-testimony>

<app-blogs></app-blogs>

<app-footer></app-footer>