*{
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

section{
    padding:5rem 9%;
}
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:rgb(255, 255, 255);
    margin-bottom: 3rem;
    position: relative;
}

.heading span{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid #130f40;
    color:#130f40;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color:#fff;
}

/* Knowledge */

.knowledge {
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    overflow: hidden;
    color: #FFF;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    border-radius: 5%;
    display: block;
}
