<section class="knowledge">
    <div class="knowledge__container container">
        <div class="knowledege__texts">
            <h2 class="subtitle">Rutinas completas con expertos ¡Todo progreso ocurre fuera de tu zona de confort!</h2>
            <p class="knowledge__paragraph">Las rutinas a desarrollar son ejecutadas bajo la supervisión de un profesional 
                los cuales son capacitados para asegurarse de cumplir con el objetivo primordial de ofrecer un servicio de calidad que cambie la vida de cada uno de sus clientes.
            </p>
        </div>

        <figure class="knowledge__picture">
            <img src="../../../assets/img/rutinas2.jpeg" class="knowledge__img">
        </figure>
    </div>
</section>
