<section class="container about">
    <h2 class="subtitle">¿Qué lograrás en este gimnasio?</h2>
    <p class="about__paragraph">Todo lo necesario y obligatorio de ru|tinas y ejercicios (pecho, bíceps, tríceps, piernas, espalda y más).</p>

    <div class="about__main">
        <article class="about__icons">
            
            <img src="../../../assets/img/pesas.svg" class="about__icon">
            <h3 class="about__title">Maquinas</h3>
            <p class="about__paragrah">Mediante la musculación con aparatos se trabaja específicamente el grupo muscular que se desea, cuidando la postura durante el entrenamiento.</p>
        </article>

        <article class="about__icons">
            <img src="../../../assets/img/pesas2.svg" class="about__icon">
            <h3 class="about__title">Circuito</h3>
            <p class="about__paragrah">la definición que buscamos es la que obtendremos con la realización de estos ejercicios programados en el circuito para mantener los músculos tonificados.</p>
        </article>

        <article class="about__icons">
            <img src="../../../assets/img/code.svg" class="about__icon">
            <h3 class="about__title">Cardio</h3>
            <p class="about__paragrah">El ejercicio cardiovascular también se denomina ejercicio aeróbico. El ejercicio aeróbico emplea los músculos grandes y puede realizarse durante largo tiempo.</p>
        </article>
    </div>
</section>
