<section class="blogs" id="blogs">

    <h1 class="heading"><span>blogs</span> </h1>

    <div class="box-container">

        <div class="box">
            <img src="../../../assets/img/blog1.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> by user </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                </div>
                <h3>Ejercicios de Piernas</h3>
                <p>Lorem ipsum dolor sit amet consecteturs adipisicing elit. Veniam, expedita.</p>
                <a routerLink="/blog" class="btn">Lee Más</a>
            </div>
        </div>

        <div class="box">
            <img src="../../../assets/img/blog2.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> by user </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                </div>
                <h3>Rutina de Brazo</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                <a routerLink="/blog" class="btn">Lee Más</a>
            </div>
        </div>

        <div class="box">
            <img src="../../../assets/img/blog3.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"> <i class="fas fa-user"></i> by user </a>
                    <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                </div>
                <h3>Circuitos Ejercicios</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                <a routerLink="/blog" class="btn">Lee Más</a>
            </div>
        </div>

    </div>

</section>