<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3> GIMNASIO UNIVERSITARIO </h3>
            <p>NO ES QUE UNA PERSONA TIENE LA FUERZA DE VOLUNTAD.
                ES QUE HAY PERSONAS QUE ESTÁN LISTAS PARA CAMBIAR, Y OTRAS NO.</p>
            <div class="share">
                <a href="https://www.facebook.com/UleamEc/" class="fab fa-facebook-f"></a>
                <a href="https://twitter.com/UleamEcuador?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fab fa-twitter"></a>
                <a href="https://www.youtube.com/channel/UCOferC0PjpEUegrVq8Re-TQ" class="fab fa-youtube"></a>
            </div>
        </div>

        <div class="box">
            <h3>Informacion Contacto</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> (05) 2 623 046 </a>
            <a href="#" class="links"> <i class="fas fa-phone"></i> (05) 2 629 781 </a>
            <a href="#" class="links"> <i class="fas fa-envelope"></i> contacto@uleam.edu.ec </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> Av. Circunvalación - Vía a San Mateo Manta - Manabí - Ecuador </a>
        </div>

        <div class="box">
            <h3>Enlaces rápidos</h3>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Home </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Horarios </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Informacion </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Comentarios </a>
            <a href="#" class="links"> <i class="fas fa-arrow-right"></i> Blogs </a>
        </div>

    </div>

    <div class="credit"> created by <span> UNIVERSIDAD LAICA ELOY ALFARO DE MANABÍ</span>
        FACULTAD DE CIENCIAS INFORMÁTICAS | all rights reserved </div>

</section>