
<app-nav></app-nav>

<section>
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
          <div class="col-lg-7 text-center text-lg-start">
            <h1 class="display-4 fw-bold lh-1 mb-3">Contactanos para más información</h1>
            <p class="col-lg-10 fs-4">Y así algun asesor del gimnasio se pondra en contacto acuerdo a alguna duda sobre sus paquetes,
                ofertas y promociones tambien te podran guiar hacia un buen estilo de vida y dudas presentadas.</p>
          </div>
          <div class="col-md-10 mx-auto col-lg-5">
            <section class="contacter__Formulari">
                <form class="contacter__f" action="https://formspree.io/f/xoqblzyp" method="POST">
                    
                    <label class="contacter__tex" for="email">Email:</label>
                    <input class="contacter__tex" type="email" name="email" id="email" placeholder="Ingresa aqui su correo electronico">
                    
                    <label class="contacter__tex" for="message">Mensaje:</label>
                    <textarea class="contacter__tex" name="message" id="message" cols="30" rows="10" placeholder="Escriba aqui su situacion"></textarea>
                    
                    <input type="submit" value="Enviar" id="contacter__btn">
                </form>
            </section>
          </div>
        </div>
      </div>
</section>
