<section class="questions container">
    <h2 class="subtitle">Preguntas frecuentes</h2>
    <p class="questions__paragraph">Cuando sientas que vas a rendirte,
        Piensa en por que empezaste
    </p>

    <section class="questions__container">
        <article class="questions__padding">
            <div class="questions__answer">
                <h3 class="questions__title">¿CONTRATO A UN ENTRENADOR PERSONAL?
                    <span class="questions__arrow">
                        <img src="../../../assets/img/arrow.svg" class="questions__img">
                    </span>
                </h3>

                <p class="questions__show">Contar con un experto que te vigile y corrija tus errores a cada instante mejora tu rendimiento. También ayuda a que no flaquees y que ejerza casi de policía cuando, exhausta, exclames aquello de “no puedo más”. Pero deberás ser disciplinada con tu asistencia al gimnasio si quieres amortizar la inversión, dedicarle un presupuesto y ya verás, que al final, “sí puedes”</p>
            </div>
        </article>

        <article class="questions__padding">
            <div class="questions__answer">
                <h3 class="questions__title">¿TENGO QUE TOMAR SUPLEMENTOS?
                    <span class="questions__arrow">
                        <img src="../../../assets/img/arrow.svg" class="questions__img">
                    </span>
                </h3>

                <p class="questions__show">Nada más poner el pie en el gimnasio te toparás con un enorme supermercado de complementos dietéticos, suplementos, concentrados energizantes… No son imprescindibles salvo que te machaques a base de bien. Lo que sí debes es cuidar más tu alimentación. “Una dieta variada y equilibrada es esencial para entrenar con fuerzas. Nada más terminar hay que hidratarse bien con batidos o zumos ricos en vitamina C para estimular la recuperación. Además después del ejercicio es importante comer alimentos ricos en proteínas para reparar las fibras musculares, y en ácidos grasos esenciales (pescado azul, aceite de oliva crudo, frutos secos). También hidratos de carbono para llenar las reservas energéticas”, explica Laura Ayuso, especialista en entrenamiento personal y nutrición de Sport Zone. Si ves que te cuesta recuperarte de una sesión dura, prueba a incluir un suplemento de magnesio y si temes por tus huesos, uno de colágeno.</p>
            </div>
        </article>

        <article class="questions__padding">
            <div class="questions__answer">
                <h3 class="questions__title">¿ES MEJOR IR ANTES DE TRABAJAR O DESPUÉS?
                    <span class="questions__arrow">
                        <img src="../../../assets/img/arrow.svg" class="questions__img">
                    </span>
                </h3>

                <p class="questions__show">La eterna duda: ¿merece la pena madrugar para meterse en una sesión de body pump a las siete de la mañana? Una sesión de deporte matutino ayuda a espabilarnos y activa el metabolismo, con lo que a lo largo de la mañana quemarás más calorías sin esfuerzo. Además te aseguras cumplir con tu rutina deportiva al 100%, mientras que si lo dejas para la tarde puede que una reunión, un encargo imprevisto o la presión de los amigos te alejen del camino del gimnasio. Eso sí, ve siempre desayunada. “Entrenar en ayunas favorece el agotamiento de los depósitos de glucógeno corporal. Eso provoca fatiga, mareos y aumenta el riesgo de lesiones”, advierten Juana Mª González, Julia Farré y otras tres expertas en nutrición más en el libro La Dieta Inteligente para Runners (Vecchi Ediciones) supervisada por la  Clínica Alimmenta. ¿Y el pelo? Sudar a primera hora puede arruinar tu melena. Si te reúnes con un cliente al empezar la jornada y no tienes tiempo para lavar, secar y peinar, echa mano de un champú en seco. O, directamente, ve al gimnasio por la tarde. A última hora te toparás con la hora punta. Traducido: muchos usuarios a la caza de una elíptica, peleas por las plazas en spinning o aglomeración en el vestuario. A cambio puedes emplearte a fondo, descargar toda la adrenalina de un mal día y alargarte hasta la hora de cierre pasando por la sauna. Ojo: la actividad física de alta intensidad a última hora del día espabila igual que por la mañana. Solo que al caer la noche, esto puede dificultar el sueño.</p>
            </div>
        </article>
    </section>
</section>