*{
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

section{
    padding:5rem 9%;
}
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:rgb(255, 255, 255);
    margin-bottom: 3rem;
    position: relative;
}

.heading span{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid #130f40;
    color:#130f40;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color:#fff;
}

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.features .box-container .box{
    border-radius: 6px;
    padding:3rem 2rem;
    background: #fff;
    outline: .1rem solid rgba(0,0,0,.1);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    font-size:larger;
}

.features .box-container .box:hover{
    outline: .2rem solid #130f40;
    outline-offset: 0rem;
    border-radius: 6px;
}

table th {
    width: 15em;
    padding: 1rem;
}

table {
    border-collapse: collapse;
    width:100%;
}

tr:nth-of-type(1) > th {
    background-color: #26ea14;
}

tr:nth-of-type(2) > th,
tr:nth-of-type(3) > th,
tr:nth-of-type(4) > th,
tr:nth-of-type(5) > th,
tr:nth-of-type(6) > th,
tr:nth-of-type(7) > th,
tr:nth-of-type(8) > th,
tr:nth-of-type(9) > th,
tr:nth-of-type(10) > th,
tr:nth-of-type(11) > th,
tr:nth-of-type(12) > th,
tr:nth-of-type(13) > th,
tr:nth-of-type(14) > th,
tr:nth-of-type(15) > th {
    background-color: #26d1176e;
}
