<section class="features" id="horario">

    <h1 class="heading"> Su <span>Horario</span> </h1>

    <div class="box-container">

        <div class="box">
            <div class="box__horarios">
                <table border="1">
                    <tr>
                        <th>HORAS</th>
                        <th>LUNES</th>
                        <th>MARTES</th>
                        <th>MIERCOLES</th>
                        <th>JUEVES</th>
                        <th>VIERNES</th>
                    </tr>
                    <tr>
                        <th>6:00-7:00</th>
                        <td>Circuito</td>
                        <td>Crossfit</td>
                        <td>Circuito</td>
                        <td>Crossfit</td>
                        <td>Circuito</td>
                    </tr>
                    <tr>
                        <th>7:00-8:00</th>
                        <td>Crossfit-Bailoterapia</td>
                        <td>Circuito-Intervalo</td>
                        <td>Cardio-HIT</td>
                        <td>Circuito-Intervalo</td>
                        <td>Crossfit-Bailoterapia</td>
                    </tr>
                    <tr>
                        <th>9:00-10:00</th>
                        <td>Crossfit</td>
                        <td>Crossfit</td>
                        <td>Crossfit</td>
                        <td>Crossfit</td>
                        <td>Crossfit</td>
                    </tr>
                    <tr>
                        <th>11:00-12:00</th>
                        <td>Crossfit-Intervalo</td>
                        <td>Crossfit-Bailoterapia</td>
                        <td>Crossfit-Step</td>
                        <td>Crossfit-Bailoterapia</td>
                        <td>Crossfit-Aerobicos</td>
                    </tr>
                    <tr>
                        <th>14:00-15:00</th>
                        <td>Crossfit-Bailoterpia</td>
                        <td>Crossfit-Pista</td>
                        <td>Crossfit-Intervalo</td>
                        <td>Crossfit-Step</td>
                        <td>Crossfit-Bailoterapia</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>

</section>