<section>
    <section class="price container">
        <h2 class="subtitle">Obten el plan perfecto para ejercitarte</h2>

        <div class="price__table">
            <div class="price__element">
                <p class="price__name">Libre</p>
                <h3 class="price__price">$2/dia</h3>

                <div class="price__items">
                    <p class="price__features">Entrada libre</p>
                    <p class="price__features">Ejercicios libre</p>
                    <p class="price__features">Tiempo libre</p>
                </div>

                <a routerLink="/plane" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element price__element--best">
                <p class="price__name">Entrenador</p>
                <h3 class="price__price">$25/mes</h3>

                <div class="price__items">
                    <p class="price__features">Entrenador</p>
                    <p class="price__features">Ejercicios Rutina</p>
                    <p class="price__features">Tiempo Rutina</p>
                </div>

                <a routerLink="/plane" class="price__cta">Empieza ahora</a>
            </div>


            <div class="price__element">
                <p class="price__name">Al Mes libre</p>
                <h3 class="price__price">$20/mes</h3>

                <div class="price__items">
                    <p class="price__features">Entrada libre</p>
                    <p class="price__features">Ejercicios libre</p>
                    <p class="price__features">Tiempo libre</p>
                </div>

                <a routerLink="/plane" class="price__cta">Empieza ahora</a>
            </div>

        </div>
    </section>
</section>