.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;;
}

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #ffffff;
    --color-price: #ffffff;
    --bg-cta: #fff;
    --color-cta: #000000;
    --color-items: #ffffff;
}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-image: linear-gradient(to left bottom, #90e9db, #76e5cd, #5ee0bb, #49dba7, #37d590, #2fd691, #25d893, #17d994, #18e2ae, #2bebc7, #44f3dd, #5ffbf1);
    --color-plan: rgb(0, 0, 0);
    --color-price: rgb(0, 0, 0);
    --bg-cta: #199f4c;
    --color-cta: #FFF;
    --color-items: rgb(0, 0, 0);
}


.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}
