<div class="warpper">
    <div *ngIf="!loading" class="body">
        <img class="logo" src="../../../assets/img/hacker.png" alt="Login">
        <h1 class="lLogin">Recuperar</h1>
        <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" formControlName="correo" placeholder="name@example.com">
                <label>Email</label>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es obligatorio
                </span>
                <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched" class="text-danger errorLabel">
                  El <strong>correo</strong> es invalido
                </span>
              </div>
              <div class="d-grid gap-2 mb-3">
                <button type="submit" class="btn btn-primary btn-lg" [disabled]="recuperarUsuario.invalid">Recuperar</button>
              </div>
              <a routerLink="/login">Volver</a>
        </form>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</div>
