<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<app-nav></app-nav>

<section class="home" id="home">

    <div class="content">
        <h3>Bienvenidos al Blog <span>Gim</span> Uleam</h3>
        <p>Enterate más sobre las noticias de nuestro GIM.U</p>
    </div>

</section>

<section>
    <div class="px-4 pt-5 my-5 text-center border-bottom mt-4">
        <h1 class="display-4 fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El Gimnasio Universitario</font></font></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>Todo lo necesario y obligatorio de rutinas y ejercicios (pecho, bíceps, tríceps, piernas, espalda y más).</font></p>
          <p class="lead mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>Empezando un nuevo concepto a lo que se refiere a gimnasios, brindando un ambiente relajante y placentero para ayudar a alcanzar sus objetivos y encontrar su fuerza interior. Combinando los servicios más diversos en la industria con la mejor formación personal para ofrecer la experiencia definitiva de fitness.</font></p>
          <p class="lead mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>En Gym Universitario encontrará programas integrales y asistencia en evaluación física, asesoría nutricional y desarrollo de programa de entrenamiento, máquinas cardiovasculares y de entrenamiento de fuerza junto con un programa de ejercicio dinámico que incluye clases grupales y entrenamiento de resistencia muscular con la supervisión de instructores calificados.</font></p>
          <p class="lead mb-4"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"></font>Lo más importante, usted encontrará un ambiente energético, agradable y de apoyo total que se han comprometido a alcanzar sus metas.Disfrutará el más variado programa de clases grupales.</font></p>
          
        </div>
        <div class="overflow-hidden" style="max-height: 100vh;">
          <div class="container px-5">
            <img src="../../../assets/img/gim.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Ejemplo de imagen" width="700" height="500" loading="lazy">
          </div>
        </div>
    </div>
</section>

<section class="px-4 pt-5 my-5 text-center border-bottom">
    <h2>Ubicación</h2><br>
    <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.2646845342256!2d-80.74871578572682!3d-0.954504935622282!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be16a5ec848cd%3A0xa60ef7d90e068e64!2sUniversidad+Laica+Eloy+Alfaro+De+Manabi!5e0!3m2!1ses-419!2sec!4v1546790423201" width="850" height="500" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
</section>