<section class="home" id="home">

    <div class="content">
        <h3>Bienvenidos al <span>Gimnasio</span> Universitario</h3>
        <p>Cambia tu cuerpo, cambia tu mente, tu actitud y tu humor</p>
    </div>

</section>