<div class="warpper">
    <div class="body">
        <img class="logo" src="../../../assets/img/hacker.png" alt="Login">
        <h6 class="lLogin">Le acabamos de anviar un correo electronico para varificarlo. Para mayor seguridad</h6>
        <div class="d-grid gap-2 mt-3">
            <button type="button" class="btn btn-primary btn-lg" routerLink="/login">Volver</button>
        </div>
    </div>
</div>
