<section>
    <table class="table" id="formularioTable">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cedula</th>
          <th>Correo Electronico</th>
          <th>Numero Celurar</th>
          <th>Fecha Inicio</th>
          <th>Fecha Final</th>
          <th>Select</th>
        </tr>
      </thead>
      <tbody>
  
      </tbody>
    </table>
  </section>