<app-nav></app-nav>
<section></section>
<section class="mt-3">
    <form action="reservation" method="post">
        <div class="elem-group">
          <label for="name">Tu nombre</label>
          <input type="text" id="name" name="visitor_name" placeholder="Nombres y Apellidos" onkeypress="return sololetras(event)" onpaste="return false" required>
        </div>
        <div class="elem-group">
            <label for="name">Cédula</label>
            <input type="text" id="cedu" name="visitor_id" placeholder="Cédula"  onkeypress="return solonumeros(event)" onpaste="return false" required>
          </div>
        <div class="elem-group">
          <label for="email">Tu E-mail</label>
          <input type="email" id="email" name="visitor_email" placeholder="gimnasio@live.uleam.com" required>
        </div>
        <div class="elem-group">
          <label for="phone">Tu número celular</label>
          <input type="tel" id="phone" name="visitor_phone" placeholder="(05) 2 623 046"  onkeypress="return solonumeros(event)" onpaste="return false" required>
        </div>
        <hr>
        <div class="elem-group inlined">
          <label for="checkin-date">Fecha de inicio</label>
          <input type="date" id="checkindate" name="checkin" required>
        </div>
        <div class="elem-group inlined">
          <label for="checkout-date">Fecha de finalización</label>
          <input type="date" id="checkoutdate" name="checkout" required>
        </div>
        <div class="elem-group">
          <label for="room-selection">Selecciona tu plan de tu preferencia</label>
          <select id="room-selection" name="room_preference" required>
              <option value="individuales">Diario</option>
              <option value="dobles">Mensual</option>
              <option value="suite">Mensual entrenador</option>
              <option value="presidencial">Presidencial</option>
          </select>
        </div>
        <div class="elem-group">
          <label for="servicios">Selecciona los servicios que deseas durante tus planes</label>
          <select name="serv-list" multiple>
            <option value="serv-1">Bailoterapia</option>
            <option value="serv-2">Cardio</option>
            <option value="serv-2">Sauna</option>
            <option value="serv-2">Rutinas alimenticias</option>
            <option value="serv-2">Yoga</option>
            <option value="serv-2">Meditacion</option>
            <option value="serv-2">Relajacion</option>
        </select>               
        </div>
        <hr>
        <button type="button" id="btnAdquirir">Adquirir</button>
        <br><br><br>
      </form>
</section>

<app-tabla-fomulario></app-tabla-fomulario>