
div.elem-group {
    margin: 10px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
   
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
    font-size: 1em;
  }
  
  input, select, textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 100px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }
  
  button {
    height: 50px;
    width: 250px;
    background: #b60606;
    border: none;
    color: white;
    font-size: 1em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    border: 2px solid black;
  }
  
  
  form{
      max-width: 600px;
      margin: auto;
      margin-top: 50px;
  }
  