.warpper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../../../assets/img/gim.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lLogin{
    color: #fff;
}

p{
    color: #fff;
}

.logo{
    height: 130px;
    margin-bottom: 10px;
}

.body{
    width: 100%;
    max-width: 330px;
    margin: auto;
    padding: 15px;
    text-align: center;
}