<header class="header">

    <a routerLink="/inicio-principal" class="logo"> GIMNASIO ULEAM. </a>

</header>

<section class="home" id="home">

    <div class="content">
        <h3>Bienvenidos al <span>Gimnasio</span> Universitario</h3>
        <p>Cambia tu cuerpo, cambia tu mente, tu actitud y tu humor</p>
        <div>
            <a routerLink="/login" class="cta">Comienza ahora</a>
        </div>
    </div>

</section>

<app-about></app-about>

<app-knowledge></app-knowledge>

<app-schedule></app-schedule>

<app-questions></app-questions>  

<footer class="footer">
    <section class="footer__container container">
        <nav class="nav nav--footer">
            <h2 class="footer__title">Gimnasio Universitario.</h2>
            <h2 class="footer__title">NO ES QUE UNA PERSONA TIENE LA FUERZA DE VOLUNTAD.
                ES QUE HAY PERSONAS QUE ESTÁN LISTAS PARA CAMBIAR, Y OTRAS NO.
            </h2>
            <a routerLink="/login" class="cta">Comienza ahora</a>
        </nav>

    </section>

    <section class="footer__copy container">
        <div class="footer__social">
            <a href="https://www.facebook.com/UleamEc/" class="footer__icons"><img src="../../../assets/img/facebook.svg" class="footer__img"></a>
            <a href="https://twitter.com/UleamEcuador?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="footer__icons"><img src="../../../assets/img/twitter.svg" class="footer__img"></a>
            <a href="https://www.youtube.com/channel/UCOferC0PjpEUegrVq8Re-TQ" class="footer__icons"><img src="../../../assets/img/youtube.svg" class="footer__img"></a>
        </div>

        <h3 class="footer__copyright">Derechos reservados &copy; UNIVERSIDAD LAICA ELOY ALFARO DE MANABÍ
            FACULTAD DE CIENCIAS INFORMÁTICAS
            </h3>
    </section>
</footer>