*{
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

section{
    padding:5rem 9%;
}
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:rgb(255, 255, 255);
    margin-bottom: 3rem;
    position: relative;
}

.heading span{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.cta {
    display: inline-block;
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
}

.header .logo i{
    color:#26ea14;
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: #fff;
}

.header .navbar a:hover{
    color:#26ea14;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:#130f40;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: #26ea14;
    color:#fff;
}

#menu-btn{
    display: none;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../../../assets/img/gim.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    z-index: -1;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:rgb(255, 255, 255);
    font-size: 3rem;
}

.home .content h3 span{
    color:rgb(0, 255, 0);
}

.home .content p{
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    padding:1rem 0;
    line-height: 1.8;
}