
<header class="header">

    <a routerLink="/inicio" class="logo"> GIMNASIO ULEAM. </a>

    <nav class="navbar">
        <a routerLink="/inicio">Home</a>
        <a routerLink="/acercade">Acerca de</a>
        <a routerLink="/contacto">Contacto</a>
        <a routerLink="/blog">Blogs</a>
        <a routerLink="/plane">Planes</a>
    </nav>

    <div class="icons">
        <h3>Bienvenido!</h3>
        <p>{{dataUser?.email}}</p>
    </div>

    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-arrow-right" id="login-btn" (click)="logOut()">Salir</div>
    </div>

</header>
