
*{
    padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

section{
    padding:5rem 9%;
}
.heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:rgb(255, 255, 255);
    margin-bottom: 3rem;
    position: relative;
}

.heading span{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color:#fff;
    display: inline-block;
    padding:.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid #130f40;
    color:#130f40;
    cursor: pointer;
    background: none;
}

.btn:hover{
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    color:#fff;
}

.header{
    position: fixed;
    top:0; left:0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background-image: linear-gradient(to left bottom, #0a2714, #0f4121, #135d2e, #187a3c, #1e9949, #1e9949, #1f9949, #1f9949, #197a3b, #145c2e, #0f4020, #0a2613);    justify-self: center;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:#fff;
}

.header .logo i{
    color:#26ea14;
}

.header .navbar a{
    font-size: 1.7rem;
    margin:0 1rem;
    color: #fff;
}

.header .navbar a:hover{
    color:#26ea14;
}

.header .icons div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color:#130f40;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .icons div:hover{
    background: #26ea14;
    color:#fff;
}

#menu-btn{
    display: none;
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:2rem;
    }

    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .testimony__container{
        grid-template-columns: 30px 1fr 30px;
    }

    .testimony__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .testimony__img{
        width: 200px;
        height: 200px;
        
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:90%;
    }

    .header .navbar{
        position: absolute;
        top:110%; right:-110%;
        width:30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active{
        right:2rem;
        transition: .4s linear;
    }

    .header .navbar a{
        color: #130f40;
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

    .testimony{
        --padding-container: 60px 0;
    }

    .testimony__container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .testimony__arrow{
        width: 100%;
    }

    .testimony__course{
        margin-top: 15px;
    }

    .questions__title{
        font-size: 1rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer{
        text-align: center;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

}