<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<!-- font awesome cdn link  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<app-nav></app-nav>

<section class="home" id="home">

    <div class="content">
        <h3>Bienvenidos al Blog <span>Gim</span> Uleam</h3>
        <p>Enterate más sobre las noticias de nuestro GIM.U</p>
    </div>

</section>
    
<main class="container">
    
    <div class="row mb-2">

        <div class="col-md-6">

          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0 mt-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Publicación destacada</font></font></h3>
                    <div class="mb-1 text-muted mt-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">12 de noviembre</font></font></div>
                    <p class="card-text mb-auto mt-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esta es una tarjeta más amplia con texto de respaldo a continuación como complemento natural de contenido adicional. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, quo. Sunt pariatur placeat a ex, dolore fuga tenetur vel voluptatum officiis animi, consequuntur error velit culpa possimus quo? Tempore, quo!</font></font></p>
                    <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seguir leyendo</font></font></a>
                </div>

                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/img/blog6.jpg" role="img" aria-label="Marcador de posición: Miniatura" preserveAspectRatio="xMidYMid slice" focusable="false">
                </div>
          </div>

        </div>

        <div class="col-md-6">

          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-0 mt-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Título de la publicación</font></font></h3>
                    <div class="mb-1 text-muted mt-2"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">11 de noviembre</font></font></div>
                    <p class="mb-auto mt-3"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Esta es una tarjeta más amplia con texto de respaldo a continuación como complemento natural de contenido adicional. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas dolor deleniti quisquam vero quia reprehenderit ut autem dolore eum repudiandae atque incidunt asperiores ipsa sed esse repellendus accusantium, obcaecati libero.</font></font></p>
                    <a href="#" class="stretched-link"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Seguir leyendo</font></font></a>
                </div>

                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="../../../assets/img/blog5.jpg" role="img" aria-label="Marcador de posición: Miniatura" preserveAspectRatio="xMidYMid slice" focusable="false">
                </div>
          </div>

        </div>

    </div>
    
    <div class="row g-5">
        <div class="col-md-8">
            <section class="blogs" id="blogs">

                <div class="box-container">
            
                    <div class="box">
                        <img src="../../../assets/img/blog1.jpg" alt="">
                        <div class="content">
                            <div class="icons">
                                <a href="#"> <i class="fas fa-user"></i> by user </a>
                                <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                            </div>
                            <h3>Ejercicios de Piernas</h3>
                            <p>Lorem ipsum dolor sit amet consecteturs adipisicing elit. Veniam, expedita.</p>
                            <a href="#" class="btn">Seguir leyendo</a>
                        </div>
                    </div>
            
                    <div class="box">
                        <img src="../../../assets/img/blog2.jpg" alt="">
                        <div class="content">
                            <div class="icons">
                                <a href="#"> <i class="fas fa-user"></i> by user </a>
                                <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                            </div>
                            <h3>Rutina de Brazo</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                            <a href="#" class="btn">Seguir leyendo</a>
                        </div>
                    </div>
            
                    <div class="box">
                        <img src="../../../assets/img/blog3.jpg" alt="">
                        <div class="content">
                            <div class="icons">
                                <a href="#"> <i class="fas fa-user"></i> by user </a>
                                <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                            </div>
                            <h3>Circuitos Ejercicios</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                            <a href="#" class="btn">Seguir leyendo</a>
                        </div>
                    </div>

                    <div class="box">
                        <img src="../../../assets/img/blog4.jpg" alt="">
                        <div class="content">
                            <div class="icons">
                                <a href="#"> <i class="fas fa-user"></i> by user </a>
                                <a href="#"> <i class="fas fa-calendar"></i> 1st may, 2021 </a>
                            </div>
                            <h3>Ejercicios Espalda y hombros</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, expedita.</p>
                            <a href="#" class="btn">Seguir leyendo</a>
                        </div>
                    </div>
            
                </div>
            
            </section>
    
        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Acerca de</font></font></h4>
              <p class="mb-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Personalice esta sección para informar a sus visitantes un poco sobre su publicación, escritores, contenido u otra cosa por completo. Totalmente a la altura.</font></font></p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Archivos</font></font></h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marzo 2021</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Febrero 2021</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enero 2021</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Diciembre 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Noviembre 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Octubre 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Septiembre de 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Agosto 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Julio 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Junio 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Mayo 2020</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Abril 2020</font></font></a></li>
              </ol>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En otra parte</font></font></h4>
              <ol class="list-unstyled">
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">GitHub</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Twitter</font></font></a></li>
                <li><a href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook</font></font></a></li>
              </ol>
            </div>
          </div>
        </div>
    </div>
    
</main>