
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(../../../assets/img/gim.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 300px;
    padding-bottom: 350px;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.home .content{
    text-align: center;
    width:60rem;
}

.home .content h3{
    color:rgb(255, 255, 255);
    font-size: 3rem;
}

.home .content h3 span{
    color:rgb(0, 255, 0);
}

.home .content p{
    color: rgb(255, 255, 255);
    font-size: 2.7rem;
    padding:1rem 0;
    line-height: 1.8;
}


.blogs .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.blogs .box-container .box{
    overflow: hidden;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    background:#fff;
}

.blogs .box-container .box img{
    height:25rem;
    width:100%;
    object-fit: cover;
}

.blogs .box-container .box .content{
    padding:2rem;
}

.blogs .box-container .box .content .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    border-bottom: .2rem solid rgba(0,0,0,.1);
}

.blogs .box-container .box .content .icons a{
    color:#666;
    font-size: 1.5rem;
}

.blogs .box-container .box .content .icons a:hover{
    color:#130f40;
}

.blogs .box-container .box .content .icons a i{
    color:#26ea14;
    padding-right: .5rem;
}

.blogs .box-container .box .content h3{
    line-height: 1.8;
    color:#130f40;
    font-size: 2.2rem;
    padding:.5rem 0;
}

.blogs .box-container .box .content p{
    line-height: 1.8;
    color:#666;
    font-size: 1.5rem;
    padding:.5rem 0;
}



.footer{
    background: #1F9949;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box h3 i{
    color:#26ea14;
}

.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color:#fff;
    padding:1rem 0;
}

.footer .box-container .box .links i{
    color:#26ea14;
    padding-right: .5rem;
}

.footer .box-container .box .links:hover i{
    padding-right: 2rem;
}


.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: #fff;;
    padding:1rem 0;
}

.footer .box-container .box .share a{
    height:4rem;
    width:4rem;
    line-height:4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color:#130f40;
    margin-right: .2rem;
    background: #eee;
    text-align: center;
}

.footer .box-container .box .share a:hover{
    background: #26ea14;
    color: #fff;
}

.footer .box-container .box .email{
    width: 100%;
    margin:.7rem 0;
    padding:1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color:#130f40;
    text-transform: none;
}

.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    display: block;
}

.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:#fff;
    border-top: .2rem solid rgba(0, 0, 0, 0.603);
}

.footer .credit span{
    color:#26ea14;
}